.admin-menu{
    display: flex;
    justify-content: space-between; 
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-weight: 800;
    cursor: pointer;

}
.admin-menu-text.active {
    color: #f93;
}