.header-box{
    height: 110px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: flex;
    position: fixed;
    background: #ffffff;
}
.header-logo{
    width: 15%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo-img{
    height: 80%;
    border-radius: 100%;
}
.header-search{
    width: 50%;
    height: 100%;
}
.header-search-ip{
    border: 1px solid #f93;
    height: 50px;
    margin: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.header-search-ip-text{
    width: 90%;
    height: 90%;
    /* padding-left: 5px; */
    margin-left: 10px;
    background: none;
    font-size: 20px;
    font-weight: 300;
}
.header-search-btn{
    width: 10%;
    height: 100%;
    border-radius: 8px;
    background: #f93;
    font-size: 30px;
    color: #ffffff;
}
.header-search-btn:hover{
    background-color: rgb(185, 93, 0);
}
.header-link{
    margin-left: 20px;
}
.header-link-text{
    margin-right: 20px;
    text-decoration: none;
    color: #676767;
}
.header-link-text.active{
    color: #f93;
}
.header-box-option{
    width: 35%;
    height: 100%;
}
.header-option{
    display: flex;
    margin-top: 10px;
    margin-left: 60px;
}
.header-option-btn{
    width: 15%;
    height: 50px;
    text-align: center;
    align-content: center;
    background-color: #f93;
    color: #ffffff;
    font-size: 25px;
    margin-right: 40px;
    border-radius: 10px;
}
.header-option-cart{
    position: relative;
}
.header-option-favourite:hover{
    background-color: rgb(185, 93, 0);
}
.header-option-admin:hover {
    background-color: rgb(185, 93, 0);
    
}
.header-option-cart:hover {
    background-color: rgb(185, 93, 0);
    
}
.header-option-account:hover{
    background-color: rgb(185, 93, 0);

}
.icon-quantity-cart{
    width: 25px;
    height: 25px;
    position: absolute;
    color: rebeccapurple;
    top : -10px;
    right: -10px;
    background: red;
    align-content: center;
    text-align: center;
    border-radius: 100%;
    font-size: 11px;
    font-weight: 600;
    color: #ffffff;
}
.header-option-slogan{
    margin-top: 10px;
    display: flex;
    height: 30px;
    align-items: flex-end;
}
.slogan-icon{
    font-size: 20px;
    margin-right: 10px;
    background: linear-gradient(
        to right,
        #ff4500, /* Red Orange */
        #ff6347, /* Tomato */
        #ffa500, /* Orange */
        #ffd700, /* Gold */
        #ffffff  /* White */
    );
    -webkit-background-clip: text; /* Cắt nền theo text */
    -webkit-text-fill-color: transparent; /* Màu chữ trong suốt để thấy được nền */
    background-clip: text;
    color: transparent;
}
.slogan-text {
    font-size: 17px;
    font-weight: 300;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slogan-text.show {
    opacity: 1;
}
.slogan-text.hide {
    opacity: 0;
}
.header-avatar{
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    background-color: #f93;
    color: #ffffff;
    font-size: 25px;
    margin-right: 40px;
    border: 1px solid #f93;
    border-radius: 100%;
    overflow: hidden;
}
.header-avatar-img{
    width: 100%;
    /* border-radius: 100%; */
}

.popup-account{
    top: 125%; /* Position the popup below the button */
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 100px;
    width: 150px;
    background: #ddd;
    z-index: 10;
}
.popup-account::before {
    content: "";
    position: absolute;
    top: -28px; /* At the bottom of the popup */
    left: 40%;
    transform: translateX(-70%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    border-width: 15px; /* Increase the size of the arrow */
}
.popup-btn{
    width: 100%;
    height: 50px;
    text-align: center;
    align-content: center;
    background-color: #ddd;
}
.popup-btn:hover{
    background-color: #f93;
}