/* Tùy chỉnh toàn bộ thanh cuộn */
::-webkit-scrollbar {
    width: 8px;  /* Điều chỉnh chiều rộng của thanh cuộn dọc */
    height: 8px; /* Điều chỉnh chiều cao của thanh cuộn ngang */
}

/* Tùy chỉnh thanh cuộn */
::-webkit-scrollbar-thumb {
    background: #888; /* Màu của thanh cuộn */
    border-radius: 10px; /* Bo góc thanh cuộn */
}

/* Tùy chỉnh nền của thanh cuộn */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của đường ray thanh cuộn */
    border-radius: 10px; /* Bo góc đường ray */
}
.detail-box{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
}
.detail-product{
    display: flex;
    height: 520px;
    border: 2px solid #f93;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgb(193, 178, 167);
    margin-bottom: 20px;
}
.detail-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    border-right: 1px solid #f93;
    overflow: hidden;
}
.detail-product-img{
    width: 90%;
    max-height: 90%;
    border-radius: 20px;
}
.detail-info{
    width: 58%;
    height: 100%;
    margin-left: 2%;    
    position: relative;
}
.detail-product-name{
    margin-top: 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #f93;
    max-height: 60px;
    overflow: hidden;
}
.detail-product-trademark{
    height: 30px;
    display: flex;
    margin-left: 60px;
    align-items: center;
}
.detail-product-trademark-lable{
    font-weight: 300;
}
.detail-product-trademark-text{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #f93;
}
.detail-product-price{
    display: flex;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 20px;
    border-bottom: 1px solid #f93;
}
.detail-product-price-number{
    font-size: 30px;
    font-weight: 700;
    color: rgba(227, 2, 2, 0.911);
}
.detail-product-price-icon{
    color: rgba(227, 2, 2, 0.911);
    margin-left: 3px;
    margin-right: 50px;
}
.detail-product-price-sale{
    font-size: 18px;
    font-weight: 300;
    color: #959595;
    text-decoration: line-through;
}
.detail-product-describe{
    margin-top: 20px;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 500;
}
.detail-product-describe-text{
    margin-left: 60px;
    margin-top: 10px;
    font-weight: 300;
    height: 200px;
    margin-right: 20px;
    border-bottom: 1px solid #f93;
    overflow: auto;
    padding: 10px;
}
.detail-option{
    width: 100%;
    height: 100px;
    display: flex;
    position: absolute;
    bottom: 0px;
}
.detail-option-quantity{
    width: 100px;
    margin-left: 15%;
    margin-top: 10px;
}
.detail-option-quantity-change{
    margin-top: 20px;
    display: flex;  
    height: 30px;

}
.detail-option-tru, .detail-option-cong{
    width: 30%;
    height: 100%;
    text-align: center;
    font-size: 10px;
    background: rgb(245, 245, 245);
    color: #000000;
    font-size: 30px;
    border: 1px solid #f93;
    color: #f93;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(165, 159, 153);
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-option-tru:hover, .detail-option-cong:hover{
    background-color: #f93;
    color: white;
}
.detail-option-ip{
    width: 30%;
    height: 96%;
    text-align: center;
    font-size: 10px;
    background: #ffffff;
    margin: 0 5px;
    font-weight: 300;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #f93;
    color: #f93;
}
.detail-option-cart{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-option-btn-cart{
    height: 60%;
    width: 70%;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: #e2e2e2a0;
    font-weight: 700;
    color: #f93;
    box-shadow: 2px 2px 2px 2px #d2d2d2;
}
.detail-option-btn-cart:hover{
    color: white;
    background-color: #f93;
}
.detail-option-pay{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-option-btn-pay{
    height: 60%;
    width: 90%;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background-color: #f93;
    font-weight: 700;
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px #d2d2d2;
}
.detail-option-btn-pay:hover{
    background-color: rgb(194, 118, 42);
}
.product-ratings-box{
    /* height: 520px; */
    border: 2px solid #f93;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgb(193, 178, 167);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
}
.product-ratings{
    width: 400px;
    border-right: 1px solid #f93;
}
.product-start-all{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: #f93;
    margin: 20px 0;
}

.product-evluate {
    height: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.star-rating {
    position: relative;
    display: inline-block;
    font-size: 25px;
    line-height: 1;
    left: 10px;
}

.stars {
    color: gold;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}

.star-overlay {
    color: #ccc;
}

.product-form-ratings-star{
    display: flex;
}
.product-form-ratings-star-label{
    align-self: flex-end;
    font-size: 20px;
    font-weight: 300;
    margin-right: 20px;
    padding-bottom: 2px;
}
.star {
    cursor: pointer;
    font-size: 24px;
    color: gray;
  }
.starFilled {
    cursor: pointer;
    font-size: 24px;
    color: gold;
  }

.product-form-ratings-input{
    margin-top: 20px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #f93;
    padding: 10px;
}
.product-form-ratings-input-text{
    outline: none;
    width: 100%;
    border: none;
    resize: none;
}
.product-form-ratings-btn{
    background-color: #f93;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 100px;
}
.product-form-ratings-btn:hover{
    background-color: rgb(144, 87, 30);
}
.product-form-ratings-btn:disabled {
    /* Các thuộc tính khi nút bị disable */
    background-color: #d3d3d3;
    color: #6c757d;
    cursor: not-allowed;
}
.product-ratings-list-box{
    width: 60%;
    margin: 0 20px;
}
.product-ratings-list-label{
    width: 100%;
    text-align: center;
    align-content: center;
    font-size: 20px;
    font-weight: 300;
    color: #f93;
}
.product-ratings-list{
    border-top : 1px solid #f93;
    padding: 20px;
    overflow: auto;
    max-height: 300px;
    
}
.product-rating-list-star-comment{
    padding: 20px;
    border-bottom: 1px solid #ddd;

}


.similar-product-box{
    border: 2px solid #f93;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px rgb(193, 178, 167);
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
}
.similar-product-label{
    font-size: 20px;
    font-weight: 500;
    color: #f93;
}
.btn-scroll-left{
    text-align: center;
    align-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 5px;
    z-index: 10;
    font-size: 25px;
    color: #f93;
    background: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btn-scroll-right{
    text-align: center;
    align-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 5px;
    z-index: 10;
    font-size: 25px;
    color: #f93;
    background: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-scroll-left:hover,.btn-scroll-right:hover{
    transform: scale(1.1);
}
.similar-product{
    padding-top: 30px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
    width: 100%; /* Đảm bảo container chiếm toàn bộ chiều rộng của phần tử chứa */
    box-sizing: border-box;
}
.product-item-sales{
    width: 60px;
    height: 25px;
    background-color: #f93;
    position: absolute;
    top: 10px;
    left: -5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    align-content: center;
}
.product-item-sales::after {
    content: '';
    position: absolute;
    bottom: -9px; /* Đặt vị trí của mũi tên */
    left: 0; /* Đặt mũi tên ở góc bên trái */
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 0 solid transparent;
    border-top: 10px solid rgb(255, 128, 0); /* Màu nền của mũi tên */
  }
.similar-product-item-sale {
    position: relative;
    min-width: 20%;
    width: 20%;
    height: 270px;
    background-color: #ffffff;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 3px 4px #ddd;
    text-decoration: none;
    color: inherit;
    margin-left: 20px;

}
.similar-product-price-sales {
    font-size: 18px;
    font-weight: 300;
    color: #959595;
    text-decoration: line-through;
}
.icon-like {
    position: absolute;
    /* Định vị tuyệt đối */
    top: 10px;
    /* Đặt cách phần tử cha 10px từ trên */
    right: 10px;
    /* Đặt cách phần tử cha 10px từ bên phải */
    font-size: 24px;
    color: #ddd;
    /* Màu sắc cho icon trái tim */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: none;
}

.icon-like:hover {
    transform: scale(1.2);
    color: red;
}

.product-item-sale:hover {
    transform: translateY(-5px);
    /* Nhích lên trên 10px */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    /* Thêm đổ bóng */
}

.similar-product-product-img {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.similar-product-product-image {
    height: 100%;
}

.similar-product-name {
    padding: 15px 0;
    width: 80%;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    /* Ẩn phần văn bản thừa */
    text-overflow: ellipsis;
    /* Thêm dấu ba chấm khi văn bản bị cắt */
    white-space: nowrap;
    /* Ngăn văn bản xuống dòng */
    display: block;
    /* Đảm bảo mỗi item là một khối */
}

.similar-product-price {
    height: 10%;
    text-align: center;
    display: flex;
    margin-left: 10px;
}

.similar-product-price-number {
    font-size: 20px;
    font-weight: 700;
    color: rgba(227, 2, 2, 0.911);
}

.similar-product-price-icon {
    height: 15px;
    color: rgba(227, 2, 2, 0.911);
    margin-left: 3px;
}

.product-evluate {
    height: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.star-rating {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    left: 10px;
}

.stars {
    color: gold;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}

.star-overlay {
    color: #ccc;
}

.similar-product::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.similar-product::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    margin-left: 10px;
}

.similar-product::-webkit-scrollbar-thumb:hover {
    background: #999;
}