.header {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #f93;
    text-align: center;
    align-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #f93;
}

.profile-product {
    width: 65%;
    margin-top: 40px;
    border-right: 1px solid #f93;
}

.profile-product-box {
    position: relative;
    display: flex;
}

.profile-product-edit-product {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.profile-product-edit-product-form{
    border: 1px solid #f93;
    border-radius: 10px;
    width: 400px;
    /* height: 200px; */
    padding: 10px;
}

.profile-product-edit-product-label{
    font-size: 20px;
    font-weight: 600;
    color: #f93;
        
}
.profile-product-edit-product-ip-description{
    border: 1px solid #f93;
    padding: 5px;
    outline: none;
    border-radius: 10px;
}
.profile-product-edit-product-ip{
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #f93;
    font-size: 18px;
    padding-left: 10px;
    align-content: center;
}
.profile-product-edit-product-btn{
    margin-top: 30px;
    color: #ffffff;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #f93;
}
.profile-product-edit-product-btn:hover{
    background-color: #794816;
}
.profile-product-edit-product-btn-cancel{
    margin-top: 30px;
    color: #ffffff;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
}
.profile-product-edit-product-btn-cancel:hover{
    background-color: rgb(121, 0, 0);
}
.profile-product-row {
    display: flex;
    height: 70px;
    align-items: center;
}

.profile-product-row-lable {
    width: 150px;
    text-align: end;
    margin-right: 100px;
}

.profile-product-row-ip {
    margin-right: 30px;
}

.profile-product-row-edit {
    background: none;
    color: #f93;
}

.profile-product-row-edit:hover {
    color: rgb(155, 92, 29);
}

.profile-product-row-ip-description {
    max-width: 350px;
    max-height: 100px;
    /* Đặt chiều cao tối đa */
    overflow-y: auto;
    /* Hiển thị thanh cuộn dọc nếu văn bản tràn */
    word-wrap: break-word;
    /* Tự động xuống dòng khi văn bản tràn */
    box-sizing: border-box;
    /* Đảm bảo padding được tính vào tổng kích thước phần tử */
}

.profile-product-row-ip-description::-webkit-scrollbar {
    width: 6px;
    /* Đặt độ rộng của thanh cuộn */
}

.profile-product-row-ip-description::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    /* Màu của thanh cuộn */
    border-radius: 3px;
    /* Bo góc thanh cuộn */
}

.profile-product-row-ip-description::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Màu nền của đường dẫn thanh cuộn */
}

.profile-product-img{
    width: 35%;
    height: auto;
}
.profile-product-images-box{
    margin-top: 30px;
}
.profile-product-images{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-product-images-img{
    height: 120px;
    margin-left: 5px;
    border-radius: 10px;
    border: 1px solid #f93;
}
.profile-product-images-lable{
    width: 100%;
    text-align: center;
    align-content: center;
}
.profile-product-images-scroll{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}
.profile-product-images-arr{
    width: 80%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
}
.btn-scroll-left{
    text-align: center;
    align-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40%;
    left: 25px;
    font-size: 25px;
    color: #f93;
    background: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
}
.btn-scroll-right{
    text-align: center;
    align-content: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40%;
    right: 25px;
    right: 25px;
    z-index: 10;
    font-size: 25px;
    color: #f93;
    background: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-scroll-left:hover,.btn-scroll-right:hover{
    transform: scale(1.1);
}
.profile-product-images-arr::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.profile-product-images-arr::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    margin-left: 10px;
}

.profile-product-images-arr::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.profile-product-edit-images-ip{
    background-color: #f93;
    color: #ffffff;
    position: relative;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
.profile-product-edit-images-ip:hover{
    background-color: #794816;
}
.profile-product-edit-thumb-preview{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
}
.profile-product-edit-thumb-preview-img{
    max-height: 200px;
}
.profile-product-row-select{
    border: 1px solid #f93;
    border-radius: 10px;
    padding: 5px;
    width: 60%;
    outline: none;
    resize: none;
}

input[type="file"] {
    position: absolute;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    z-index: 1;
    background-color: aqua;
    left: 0;
    cursor: pointer;
}
