.box-productList {
    position: relative;
    display: flex;
    min-height: 700px;
    
}

.productList-category {
    width: 200px;
    height: 50px;
    /* border-bottom: 1px solid #ddd; */
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    font-weight: 500;
}
.box-category {
    /* width: 15%; */
    margin-left: 10px;
    border-radius: 10px;
    bottom: 10px;
    height: 600px;
    /* position: fixed; */
    overflow: hidden;
    border: 1px solid #f93;
    box-shadow: 0px 3px 4px 3px rgba(0, 0, 0, 0.1);
}

.category-name {
    text-align: center;
    align-content: center;
    background-color: #f93;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
}

.category-list-text {
    overflow-y: scroll;
    /* Cho phép cuộn theo chiều dọc */
    height: 100%;
    box-sizing: content-box;
}
.category-text {
    border-bottom: 1px solid #f93;
    height: 40px;
    padding-right: 20px;
    align-content: center;
    padding-left: 10px;
    cursor: pointer;
    white-space: nowrap;
    /* Không cho phép ngắt dòng */
    overflow: hidden;
    /* Ẩn phần tràn */
    text-overflow: ellipsis;
    /* Hiển thị dấu ba chấm */
}
.category-text:hover{
    background-color: #f93;
    color: #ffffff;
}
.category-list-text::-webkit-scrollbar {
    display: none;
    /* Ẩn thanh cuộn trên Webkit browsers (Chrome, Safari) */
}

.product-phan-trang{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.product-phan-trang-btn{
    cursor: pointer;
}
.product-phan-trang-btn:hover{
    color: #f93;
}
.product-phan-trang-ip{
    align-content: center;
    text-align: center;
    width: 30px;
    padding: 5px;
}
.product-phan-trang-ip-text{
    width: 100%;
}
.product-phan-trang{
    margin-left: 5px;
}


.popup-sort{
    top : 50px;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    z-index: 9;
    box-shadow: 5px 3px 5px #ddd;
    display: block;
}
.popup-sort-btn{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}
.popup-sort-btn-text{
    background: none;
}
.popup-sort-btn.az:hover , .popup-sort-btn.za:hover,.popup-sort-btn.giatang:hover, .popup-sort-btn.giagiam:hover{
    background: #f93;
}
.popup-sort-name {
    display: inline-block;
    font-weight: 300;
    padding: 0 10px;
    border-right: 2px solid #ddd;
    cursor: pointer;
}

.popup-sort-name {
    color: #f93
}

.productList-lable {
    font-weight: 500;
    margin: 10px 0;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.product-item {
    position: relative;
    width: 18%;
    height: 270px;
    background-color: #ffffff;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 3px 4px #ddd;
    margin-right: 25px;
    text-decoration: none;
    color: inherit;
    /* overflow: hidden; */
}
.product-item-sales{
    width: 60px;
    height: 25px;
    background-color: #f93;
    position: absolute;
    top: 10px;
    left: -5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    align-content: center;
}
.product-item-sales::after {
    content: '';
    position: absolute;
    bottom: -9px; /* Đặt vị trí của mũi tên */
    left: 0; /* Đặt mũi tên ở góc bên trái */
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 0 solid transparent;
    border-top: 10px solid rgb(255, 128, 0); /* Màu nền của mũi tên */
  }
.icon-like {
    position: absolute;
    /* Định vị tuyệt đối */
    top: 10px;
    /* Đặt cách phần tử cha 10px từ trên */
    right: 10px;
    /* Đặt cách phần tử cha 10px từ bên phải */
    font-size: 24px;
    color: #ddd;
    /* Màu sắc cho icon trái tim */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: none;
}

.icon-like:hover {
    transform: scale(1.2);
    color: red;
}

.product-item:hover {
    transform: translateY(-5px);
    /* Nhích lên trên 10px */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    /* Thêm đổ bóng */
}

.productList-product-img {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.productList-product-image {
    height: 100%;
}

.productlist-name {
    padding: 15px 0;
    width: 80%;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    /* Ẩn phần văn bản thừa */
    text-overflow: ellipsis;
    /* Thêm dấu ba chấm khi văn bản bị cắt */
    white-space: nowrap;
    /* Ngăn văn bản xuống dòng */
    display: block;
    /* Đảm bảo mỗi item là một khối */
}

.productlist-price {
    height: 10%;
    text-align: center;
    display: flex;
    margin-left: 10px;
}

.productlist-price-number {
    font-size: 20px;
    font-weight: 700;
    color: rgba(227, 2, 2, 0.911);
}

.productlist-price-icon {
    height: 15px;
    color: rgba(227, 2, 2, 0.911);
    margin-left: 3px;
}
.productlist-price-sales {
    font-size: 18px;
    font-weight: 300;
    color: #959595;
    text-decoration: line-through;
}

.product-evluate {
    height: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.star-rating {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    left: 10px;
}

.stars {
    color: gold;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}

.star-overlay {
    color: #ccc;
}